body {
    font-family: 'Open Sans', sans-serif;
}

.city-and-date {
    display: inline-flex;
}

.city {
    margin-right: 10px;
}

.card-body-top {
    padding: 20px;
    font-size: 200%;
    font-weight: bold;
}


/* .dateForecast {

color: green;
} */